{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="news" %}
{% endblock %}

{% block container %}
<div class="container news-articles pt-80 pb-50">
  <div class="row">
<h1 class="section-header">Latest News</h1>
    {% for post in blogpages %}
    <div class="col-md-4">
      <div class="post-wrapper">
        {% with post=post.specific %}
            <h1><a href="{% pageurl post %}">{{ post.title }}</a></h1>
            <p>{{ post.intro }}</p>
            {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-240x150 %}{% endif %}
            {% endwith %}
            {{ post.body|richtext|truncatewords_html:20 }}
        {% endwith %}

        <button class="btn btn-sm btn-deep-orange"><a href="{% pageurl post %}">Read More</a></button>
      </div>
      </div>
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><br><div class="row">
      {% endif %}
    {% endfor %}

  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="pagination">
        {% if blogpages.has_previous %}
          <li>
            <a href="?page={{ blogpages.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
          </li>
        {% endif %}
        {% for page_num in blogpages.paginator.page_range %}
          <li {% if page_num == blogpages.number %} class="active"{% endif %}>
            <a href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endfor %}
        {% if resources.has_next %}
          <li>
            <a href="?page={{ blogpages.next_page_number }}"><i class="fa fa-angle-right"></i></a>
          </li>
          {% endif %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
