{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="news" %}
{% endblock %}

{% block container %}
<div class="container news pt-80 pb-50">
  <div class="row">



    {% for post in blogpages %}
    <div class="col-md-4">
        {% with post=post.specific %}
            <h1><a href="{% pageurl post %}">{{ post.title }}</a></h1>
            <p>{{ post.intro }}</p>
            {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
            {% endwith %}
            {{ post.body|richtext }}
        {% endwith %}
        <hr class="styled mb-50">
      </div>
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><br><div class="row">
      {% endif %}
    {% endfor %}

  </div>
</div>

{% endblock %}
