{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-sm btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-sm btn-deep-orange" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 col-sm-12 hero">
          <h1>{% include "_brandname.html" %}</h1>
          <h2>INSPIRED BY GENIUS - DRIVEN BY PASSION</h2>
          <p>Curabitur blandit mollis lacus phasellus blandit leo ut odio<br>
             sed libero donec interdum metus hendrerit aliquet dolor<br>
             diam sagittis ligula, eget egestas libero turpis vel mi.</p>
	  <a class="btn btn-lg btn-deep-orange" href="{% url 'accounts:signup' %}" role="button">Register Now</a>
    <a class="btn btn-lg btn-default"     href="{% url 'accounts:signup' %}" role="button">Get More Info</a>
        </div>
        <div class="mask"></div>
      </div>
    </div>
  </div>

{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<section>
    <div id="process" class="process section">
        <div class="container">
            <div class="row section-header text-center">
                <div class="title col-xs-12">
                    <h1>Creative Services</h1>
                    <p>Simple but visually appealing.</p>
                    <hr class="styled-title">
                </div>
            </div>
            <div class="row">
                <div class="process-block col-xs-12 col-sm-6 col-md-3">
                    <div class="process-inner">
                        <div class="icon-holder">
                            <i class="icon-browser"></i>
                        </div>
                        <h3 class="heading">Creative Output</h3>
                        <p class="description">Themes, Templates & More.</p>
                        <a class="btn btn-outline" href="#">Read More</a>
                    </div>
                    <p class="process-callout text-center">Phasellus ullamcorper ipsum rutrum nunc. Morbi mattis ullamcorper velit. Donec posuere vulputate arcu.</p>
                    <hr class="styled">
                </div>
                <div class="process-block col-xs-12 col-sm-6 col-md-3">
                    <div class="process-inner">
                        <div class="icon-holder">
                            <i class="icon-global"></i>
                        </div>
                        <h3 class="heading">Code Development</h3>
                        <p class="description">Simple, Useful & Reusable.</p>
                        <a class="btn btn-outline" href="#">Read More</a>
                    </div>
                    <p class="process-callout text-center">Phasellus ullamcorper ipsum rutrum nunc. Morbi mattis ullamcorper velit. Donec posuere vulputate arcu.</p>
                    <hr class="styled">
                </div>
                <div class="process-block col-xs-12 col-sm-6 col-md-3">
                    <div class="process-inner">
                        <div class="icon-holder">
                            <i class="icon-genius"></i>
                        </div>
                        <h3 class="heading">Cyclic Iteration</h3>
                        <p class="description">Test, Test & Test Again.</p>
                        <a class="btn btn-outline" href="#">Read More</a>
                    </div>
                    <p class="process-callout text-center">Phasellus ullamcorper ipsum rutrum nunc. Morbi mattis ullamcorper velit. Donec posuere vulputate arcu.</p>
                    <hr class="styled">
                </div>
                <div class="process-block col-xs-12 col-sm-6  col-md-3">
                    <div class="process-inner">
                        <div class="icon-holder">
                            <i class="icon-camera"></i>
                        </div>
                        <h3 class="heading">Photo Reality</h3>
                        <p class="description">Recreating Life as Art.</p>
                        <a class="btn btn-outline" href="#">Read More</a>
                    </div>
                    <p class="process-callout text-center">Phasellus ullamcorper ipsum rutrum nunc. Morbi mattis ullamcorper velit. Donec posuere vulputate arcu.</p>
                    <hr class="styled">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="callout" class="callout text-center">
  <div class="container">
    <div class="row">
      <h1>S2 Design Dot Com</h1>
      <h2>Subscribe to our Newsletter</h2>
         <a class="btn btn-default" href="/subscribe/">Subscribe Now</a>
    </div>
  </div>
</section>

<section id="devices" class="devices">
  <div class="container">
    <div class="row section-header text-center">
        <div class="title col-xs-12">
            <h1>Creative Devices</h1>
            <p>Simplicity Personified.</p>
            <hr class="styled-title">
        </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="{% static 'site/img/apple_tech.png' %}">
      </div>

      <div class="col-md-8 col-md-offset-1" style="border-right:10px solid #eee;">
        <h2>iCreate Innovation</h2>
            <p>Donec orci lectus, aliquam ut, faucibus non euismod id nulla. Curabitur turpis etiam iaculis nunc ac metus. Nulla neque dolor sagittis eget iaculis quis. Molestie non velit quisque ut nisi. Aenean viverra rhoncus pede. Aenean viverra rhoncus pede nunc nec neque.</p>
            <button type="button" class="btn btn-deep-orange">More Info</button>
      </div>
    </div>
    <hr class="styled">
    <div class="row">

      <div class="col-md-8 text-right" style="border-left:10px solid #eee;">
        <h2>iCreate Visuals</h2>
            <p>Donec orci lectus, aliquam ut, faucibus non euismod id nulla. Curabitur turpis etiam iaculis nunc ac metus. Nulla neque dolor sagittis eget iaculis quis. Molestie non velit quisque ut nisi. Aenean viverra rhoncus pede. Aenean viverra rhoncus pede nunc nec neque.</p>
            <button type="button" class="btn btn-deep-orange">More Info</button>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <img class="img-responsive" src="{% static 'site/img/watch_tech.png' %}">
      </div>
    </div>
  </div>
</section>

<section class="named">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        {% if user.is_authenticated %}
    <h1>Welcome <span>{{ user.get_full_name }}</span> - we are glad you are here!</h1>
{% else %}
    <h1>Welcome - feel free to <a href="{% url 'accounts:signup' %}">sign up</a> or <a href="{% url 'accounts:login' %}">login</a>.</h1>
{% endif %}
      </div>
    </div>
  </div>
</section>

<section id="news" class="news">
    <div class="container">
      <div class="row section-header text-center">
          <div class="title col-xs-12">
              <h1>Value Proposition</h1>
              <p>A picture of a place.</p>
              <hr class="styled-title">
          </div>
      </div>
      <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <h3>Lorem Ipsum</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam donec id elit non mi. porta gravida at eget metus.</p>
                    <button type="button" class="btn btn-deep-orange">Read More</button>
                </div>
                <div class="col-md-6">
                    <h3>Dapibus Elit</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <button type="button" class="btn btn-deep-orange">Read More</button>
                </div>
                <div class="col-md-12">
                    <div class="well clearfix">
                        <p><i class="fa fa-quote-left"></i>
Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Egestat Quam</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <button type="button" class="btn btn-deep-orange">Read More</button>
                </div>
                <div class="col-md-6">
                    <h3>Donec Dolor</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <button type="button" class="btn btn-deep-orange">Read More</button>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive hidden-xs" src="{% static 'site/img/photog-male.png' %}">
            </div>
        </div>
    </div>
</section>

<section class="brand">
  <div class="container">
    <div class="row">
      <div class="brands">
          <a href="#">
            <img src="{% static 'site/img/instacart.png' %}">
            <img src="{% static 'site/img/kickstarter.png' %}">
            <img src="{% static 'site/img/lyft.png' %}">
            <img src="{% static 'site/img/shopify.png' %}">
            <img src="{% static 'site/img/pinterest.png' %}">
            <img src="{% static 'site/img/twitter.png' %}">
          </a>
      </div>
    </div>
</div>

</section>

  <section class="photo-gallery">
      <div class="container">
          <div class="row section-header photos text-center">

            <div class="title col-xs-12">
                <h1>Stunning Imagery</h1>
                <p>Photography of stunning places.</p>
                <hr class="styled-title">
            </div>

              <div class="col-lg-3 col-md-4 col-sm-6 item">
                  <a href="{% static 'site/img/desk.jpg' %}" data-lightbox="photos"><img class="img-responsive" src="{% static 'site/img/desk.jpg' %}"></a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 item">
                  <a href="{% static 'site/img/building.jpg' %}" data-lightbox="photos"><img class="img-responsive" src="{% static 'site/img/building.jpg' %}"></a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 item">
                  <a href="{% static 'site/img/loft.jpg' %}" data-lightbox="photos"><img class="img-responsive" src="{% static 'site/img/loft.jpg' %}"></a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 item">
                  <a href="{% static 'site/img/building.jpg' %}" data-lightbox="photos"><img class="img-responsive" src="{% static 'site/img/building.jpg' %}"></a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 item">
                  <a href="{% static 'site/img/loft.jpg' %}" data-lightbox="photos"><img class="img-responsive" src="{% static 'site/img/loft.jpg' %}"></a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 item">
                  <a href="{% static 'site/img/desk.jpg' %}" data-lightbox="photos"><img class="img-responsive" src="{% static 'site/img/desk.jpg' %}"></a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 item">
                  <a href="{% static 'site/img/building.jpg' %}" data-lightbox="photos"><img class="img-responsive" src="{% static 'site/img/building.jpg' %}"></a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 item">
                  <a href="{% static 'site/img/desk.jpg' %}" data-lightbox="photos"><img class="img-responsive" src="{% static 'site/img/desk.jpg' %}"></a>
              </div>
              <div class="col-md-12 lower-text text-center">
                <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus dolor. Phasellus nec sem in justo pellentesque facilisis. Curabitur ullamcorper ultricies nisi. Cras non dolor.</p>
                <hr class="styled-title" />
              </div>
          </div>
      </div>
</section>

  <section class="highlight-phone">
      <div class="container">
          <div class="row text-right">
            <div class="col-sm-4 hidden-xs">
                <div class="iphone-mockup"><img src="{% static 'site/img/iphone/iphone.svg' %}" class="device" />
                    <div class="screen"></div>
                </div>
            </div>
              <div class="col-sm-8">
                  <div class="intro">
                      <h2>Business Highlight</h2>
                      <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. Aliqua sed justo ligula lorem ipsum dolor sit amet.</p>
                      <a class="btn btn-deep-orange" role="button" href="#">More Info</a></div>
              </div>
          </div>
      </div>
  </section>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
