{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block container %}
<section class="account-app">
<div class="container form-box">
  <div class="row">
    <div class="col-md-6">
      <h1>Placeholder</h1>
    </div>

    <div class="col-md-6">
    <h2>{% block form_heading %}{% endblock %}</h2>
  {% block form %}
  {% endblock %}
    </div>


  </div>
</div>
</section>

{% endblock container %}
